rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth != null;
    }

    match /projetos/{allPaths=**} {
      allow read, write: if isAuth();
    }

    match /publicacoes/{allPaths=**} {
      allow read, write: if isAuth();
    }

    match /auditoria/{allPaths=**} {
      allow read, write: if isAuth();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
